@page "/about"

<h3>About Remotely</h3>


<p>
    Version: @if (System.IO.File.Exists("Remotely_Server.dll"))
    {
        <span>@System.Diagnostics.FileVersionInfo.GetVersionInfo("Remotely_Server.dll").FileVersion.ToString()</span>
    }
    else
    {
        <span>1.0.0.0</span>
    }

</p>
